<div class="header">
	<div class="logo">
		<img src="assets/frondend/logo.png" alt="Logo">
	</div>
	<div class="search">
		<input type="text" name="search">
		<button>Search</button>
	</div>
	<div class="cartAmt">{{amount}}</div>
	<app-navigation></app-navigation>
</div>