::ng-deep .header {height: 100px;background-color: #93ff93;}
.logo {
    width: 15%;
    float: left;
    margin-left: 100px;
}
.search {
    display: block;
    float: left;
    margin-top: 30px;
}
.cartAmt {
    float: left;
    margin-top: 25px;
    font-size: 28px;
    margin-left: 110px;
}

