<app-header></app-header>
<div class="content">
	<div class="heading">Your Posts</div>
	<div class="section">
		<div class="box" *ngFor="let result of results">
			<div class="title">{{result.title}}</div>
			<div class="text">{{result.body}}</div>
			<div class="posted">Posted By : {{result.userId}}</div>
			<div class="viewMore"><button (click)="getDetails(result.id,result.userId)">View More</button></div>
		</div>
	</div>
</div>
<app-footer></app-footer>
