<div class="menu-nav">
	<ul>
		<li><a routerLink="/">Home</a></li>
		<li><a routerLink="/about">About Us</a></li>
		<li><a routerLink="/posts">Posts</a></li>
		<li><a routerLink="/contact">Contact Us</a></li>
	</ul>
</div>