::ng-deep .content {min-height: 500px;}
.heading{width: 70%;font-size: 19px;font-weight: bold;margin: 30px 0 30px 45px}
.section{width: 90%;margin: 0 auto;}
.box {
    width: 31%;
    background: #fff580;
    height: 200px;
    padding: 5px;
    float: left;
    margin: 0 10px 10px 3px;
}
.section .title {
    font-weight: bold;
    margin-bottom: 8px;
    height: 45px;
    font-size: 18px;
}
.section .text {
    height: 100px;
}
.posted {
    float: right;
    margin-right: 20px;
    font-style: italic;
}
.detls {
    padding: 10px 0 20px 0;
    font-style: italic;
}